.navbarcontainer {
  display: flex;
}

.navbarspacer {
  flex: 1;
}

.navbar {
  display:flex;
  width: 100vw;
  justify-content:space-evenly;
  padding-top: 40px;
  flex: 1;
  list-style-type: none;
}

li a {
  font-family:"Open Sans";
  font-weight: 400;
  font-size: calc(14px + 0.6vw);
  letter-spacing: 3px;
  color:rgb(214, 38, 38);
  text-decoration:none;
  transition: 0.3s;
  background-image: linear-gradient(180deg,rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%), linear-gradient(180deg,rgb(179, 13, 13) 100%, rgb(117, 0, 0) 100%);;
  background-size: 100% 2px, 100% 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;
}

li {
  padding: 0 15px;
}

li a:hover {
  background-size:
  0 2px,
  100% 2px;
}

#active {
  font-weight:bolder;
}
