@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Exo";
}

.canvas {
  background: url("/backgrounds/torchbg.png");
  min-height:800px;
  min-width:100vw;
  height:fit-content;
  background-size:cover;
  background-position:center;
  background-color:black;
  background-attachment:fixed;
  display:flex;
  flex-direction:column;
}

.biggercontainer {
  display:flex;
}

.container {
  display:flex;
  flex-direction:column;
  padding-top:10vh;
  padding-right:10vw;
  padding-left: 10vw;
  flex:9;
  max-width:90vw;
}

.containerspacerright {
  flex:1;
  min-width:10vw;
}

.abouth1 {
  color: rgb(221, 10, 48);
  font-weight: 400;
  padding-top:30px;
  padding-bottom:40px;
  font-size: calc(20px + 2vw);
}

#creator {
  font-size: calc(15px + 1.6vw);
}

.aboutparagraph {
  color:rgb(189, 162, 162);
  line-height: 30px;
  padding-bottom:40px;
  font-weight:200;
  font-size: calc(18px - 0.1vw);
}

#emphasis {
  color:rgb(215, 128, 117);
}

footer {
  height: 100px;
}
