@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin:0;
  padding:0;
}

.canvas {
  background: url("./backgrounds/dustbackground.png");
  min-height:800px;
  min-width:100vw;
  height:100vh;
  background-size:cover;
  background-position:center;
  background-color:black;
}

.titlecontent {
  display: flex;
  padding-top: calc(10px + 12vh);
}

.title h1 {
  color: rgb(191, 19, 51);
  font-family: "Exo";
  font-weight: 300;
  font-size: calc(20px + 3vw);
}

.title h2 {
  font-family: "Exo";
  font-weight: 200;
  color: rgb(196, 105, 97);
  letter-spacing: 3px;
  font-size: calc(14px + 0.8vw);
}

.titlespacerleft {
  min-width: 80px;
  flex: 4;
}

.titlespacerright {
  width: 80px;
}