@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin:0;
  padding:0;
}

.canvas {
  min-height:800px;
  min-width:100vw;
  height:100vh;
  background-size:cover;
  background-position:center;
  background-color:black;
}

.selectquery h1 {
  font-family: "Exo";
  color:rgb(177, 145, 145);
  letter-spacing: 4px;
  word-spacing: 6px;
  font-weight:300;
  text-align:center;
}

h3 {
  font-family:"Exo";
  color:rgb(154, 135, 135);
  letter-spacing: 2px;
  word-spacing: 6px;
  font-weight:300;
  text-align:center;
  padding-top: 30px;
}

.selectquery {
  padding: 90px 30px 20px 20px;
}

.toolboxiconscontainer {
  display:block;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 50px;
  padding-bottom: 50px;
  margin:0 auto;
  width:80%;
}

.toolboxicons{
  display:flex;
  justify-content:center;
  align-items:baseline;
  gap: 20px;
  flex-wrap: wrap;
}

img {
  padding-left: 10px;
  padding-right:10px;
  display:inline-block;
}
